<div id="form-popup">
  <form id="form-container">
    <h1>New Joke</h1>
    <input id="category" type="text" placeholder="Category" name="category">
    <input id="setup" type="text" placeholder="Setup" name="setup">
    <input id="delivery" type="text" placeholder="Delivery" name="delivery">
    <br>
    <button id="save-joke" type="submit">Save</button>
    <button id="cancel-btn" type="button">Close</button>
  </form>
</div>